/* General table style */
.bibtable {
    width: 100%;
    margin: 0 auto;
    clear: both;
}
.bibchart {
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
}
.clear {
    clear: both;
}
.center {
    text-align: center;
}

/* Color what bib entry part is missing red */
span.undefined {
    color: red;
}

/* Top bar chart styling */
.year {
    position: relative;
    height: 100%;
    border-bottom: 1px solid black;
    display: inline-block;
}
.yearlabel {
    position: absolute;
    bottom: -20px;
    text-align: center;
    width: 100%;
    font-size: smaller;
}
.pub {
    border: 1px solid white;
    background-color: #eee;
}
.inproceedings {
    background-color: #ccf;
}
.article {
    background-color: #beb;
}
.inbook {
    background-color: #eaa;
}
.phdthesis {
    background-color: #999;
}
.unpublished {
    background-color: #eae;
}
.mastersthesis {
    background-color: #eea;
}
.techreport {
    background-color: #b77;
}
.legend .pub {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: 0 5px 0 15px;
}
.legend {
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}

/* Bib popup styling */
div.hidden {
    display: none;
}
.popup_cont {
    max-width: 80%;
}
.popup pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}